@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family:  'source_sans_proregular';
}
body{
  background: #f2f2f2;
}
/* back to top button */
#button {
  display: inline-block;
  background-color: #c0392b;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
/*  navigation bar*/
nav{
	 /* position:fixed;  */
	  width:100%;  
  background: #F7F9F9;
  position:fixed;
  z-index:1000;

}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: black;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: #F7F9F9;
  margin: 0 3px;
}
nav ul li a{
  color: black;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 13px;
}
 .active{
	color: #c0392b;
}
nav ul li a:hover{
  color: #c0392b;
  border-radius: 5px;
  box-shadow:  0 0 5px ,
               0 0 10px ;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid #c0392b;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 200px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color:#c0392b;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}
.content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-size: 30px;
  font-weight: 500;
}

----
.header{
	width:100%;
	height:25vh;
	background-color:black;
	position:relative;

}

/* nav.blend ul li a { */
  /* position: relative; */
  /* border-radius: 5px; */
  /* overflow: hidden; */
  /* z-index: 1; */
/* } */
/* nav.blend ul li a:hover { */
  /* color: #fff; */
/* } */
/* nav.blend ul li a:before, */
/* nav.blend ul li a:after { */
  /* position: absolute; */
  /* width: 0px; */
  /* height: 100%; */
  /* top: 0; */
  /* bottom: 0; */
  /* background: #c0392b; */
  /* transition: all .5s; */
  /* margin: auto; */
  /* content: '.'; */
  /* color: transparent; */
  /* z-index: -1; */
  /* opacity: 0.75; */
/* } */
/* nav.blend ul li a:before { */
  /* left: 0; */
/* } */
/* nav.blend  ul li a:after { */
  /* right: 0; */
/* } */

/* nav.blend ul li a:hover:after, */
/* nav.blend ul li a:hover:before { */
  /* width: 100%; */
/* } */





/* Keyframes */
/* @-webkit-keyframes fill { */
  /* 0% { */
    /* width: 0%; */
    /* height: 1px; */
  /* } */
  /* 50% { */
    /* width: 100%; */
    /* height: 1px; */
  /* } */
  /* 100% { */
    /* width: 100%; */
    /* height: 100%; */
    /* background: #2ECC71; */
  /* } */
/* } */

/* Keyframes */
/* @-webkit-keyframes circle { */
  /* 0% { */
    /* width: 1px; */
    /* top: 0; */
    /* left: 0; */
    /* bottom: 0; */
    /* right: 0; */
    /* margin: auto; */
    /* height: 1px; */
    /* z-index: -1; */
    /* background: #eee; */
    /* border-radius: 100%; */
  /* } */
  /* 100% { */
    /* background: #aaa; */
    /* height: 5000%; */
    /* width: 5000%; */
    /* z-index: -1; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    /* margin: auto; */
    /* border-radius: 0; */
  /* } */
/* } */


/* Carousel*/

.carousel-inner img{
	margin-top:80px;
	
	
	}
	/* Next & previous buttons */
.carousel-control-prev-icon, .carousel-control-next-icon {
  cursor: pointer;
  position: absolute;
  /* <!-- top: 50%; --> */
  width: auto;
  padding: 20px;
  margin-top: 70px;
  color: black;
  font-weight: bold; 
  font-size: 60px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color:#c0392b;
}

/* Position the "previous button" to the right */
.carousel-control-prev {
  left: 60px;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.carousel-control-next {
  right: 60px;
  border-radius: 3px 0 0 3px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .carousel-control-prev, .carousel-control-next{font-size: 15px}
}

/* On hover, add a black background color with a little bit see-through */
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
  background-color: #c0392b;
  
}
.carousel-caption
{	
	top:70%;
	transform:translateY(-50%);
	bottom:initial!important;
}
.carousel-caption p
{
	color:#fff;
	font-size:30px;
	font-weight:3px;
}

.carousel-caption h5
{
	color:#fff;
	font-size:42px;
}
/* Scroll indicator*/
.scroll-indicator-controller {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  left: 20px;
  z-index: 2;
}
@media (max-width: 1024px) {
  .scroll-indicator-controller {
    right: 10px;
  }
}
.scroll-indicator-controller > div {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  border: ;
  background: rgba(0, 0, 0, 0.25);
  margin: 0 0 25px 0;
  cursor: pointer;
  transition: background 0.4s ease;
  will-change: transition;
}
.scroll-indicator-controller > div span {
  color: #;
  position: absolute;
  right: calc(100% + 8px);
  white-space: nowrap;
  top: -1px;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 17px;
  width: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.4s ease;
  will-change: transition;
  color: #c0392b;
  font-weight: 600;
}
.scroll-indicator-controller > div span:after {
  content: "-----";
  padding-left: 5px;
  letter-spacing: -2px;
  font-family: arial, sans-serif;
  vertical-align: text-top;
  font-weight: 400;
}
@media (hover: hover) {
  .scroll-indicator-controller > div:hover span {
    width: auto;
    opacity: 1;
    overflow: visible;
    transform: translateX(0px);
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .scroll-indicator-controller > div:hover span {
    width: auto;
    opacity: 1;
    overflow: visible;
    transform: translateX(0px);
  }
}
@media (hover: none) {
    .scroll-indicator-controller > div span {
      display: none;
    }
}
.scroll-indicator-controller.indi-mobile > div span {
  display: none;
}
.scroll-indicator-controller > div.active {
  background: #c0392b;
  border-color: rgba(0, 0, 0, 0.25);
}
@supports (-ms-ime-align:auto) {
  .scroll-indicator-controller > div span {
    transition: opacity 0.4s ease;
  }
}

#navsidebar {
            color: #000;
            position: fixed;
            margin-right: -38px;
			margin-left:1260px;
            top: 15%;
            width:40px;
            z-index: 998;
			opacity:1;
        }
        
        .ns_menu {
            list-style: none;
        }
        
        .ns_menu_item a {
            text-decoration: none;
            color: #999;
            font-weight: bold;
			
        }
        .sharemenu {
            padding-left: 32px;
        }
        .ns_menu_item {
            font-size: 19px;
            padding: 10px;
            margin-bottom: 10px;
            position: relative;
            background-color: transparent;
            right: 45px;
            width: 200px;
            transition: all 0.5s;
            min-height: 40px;
			opacity:0.7;
        }
        textarea#input_26_11 {
            max-width: 100%;
            min-width: 100%;
        }
        .a2a_svg {
            height: 22px !important;
            line-height: 22px !important;
            width: 22px !important;
        }
        
        .ns_menu_item:hover {
            right: 200px;
            background-color: rgba(0,0,0,0.65);
            transition: all 0.5s;
            color: #77787b;
            transition-delay: 0.5s;
        }
        
        .ns_menu_item:hover i,
        .ns_menu_item:hover a{
            transition: all 0.5s;
            color: rgba(0,151,169,1);
        }
        
        .ns_content {
			opacity: 0;
			/* font-size:15px; */
			}
        .ns_menu_item:hover .ns_content {opacity: 1;}
        
        .langmenu {
            position: relative;
            left: -45%;
            visibility: hidden;
        }
        .langmenu:hover {
            visibility: visible;
        }
        .sharemenu {
            visibility: hidden;
        }
        .share:hover .sharemenu {
            visibility: visible;
        }
        .lang:hover .langmenu {
            visibility: visible;
        }
        .ns_menu_item i {
            margin-right: 10px;
            width: 30px;
            text-rendering: optimizeLegibility;
        }
        .large, .medium {
            width:100%;
        }
        .gfield input {
            padding: 1.5%;
            margin-bottom: 10px;
        }
        .gform_fields {
            list-style: none;
            padding: 5%;
        }
        .loc-contact {
            display: none;
        }
        .oceaneering-contact-panel {
            max-width: 100% !important;
            padding: 0;
            margin: 0;

        }
        .oceaneering-contact-panel img {
            width: 100% !important;
        }
        .modal-content {
        background-color: #bfbfbf;
            }
        .gform_footer.top_label {
            text-align: center;
        }
        .hiddentext {
            position: absolute;
            opacity: 0;
        }
        label.gfield_label {
            display: none;
        }
        .a2a_button_sms{display: none;}
		
		
		
 .facebook{
	background:#3B5998;
	color:white;
	text-align:center;
	margin-left:-30px;
	/* line-height:10px; */
	/* width:10px; */
}
.twitter{
	background:#3B5998;
	color:white;
	text-align:center;
}
.linkedin{
	background:#3B5998;
	color:white;
	text-align:center;
}
.gmail{
	background:#3B5998;
	color:white;
	text-align:center;
}
.custom-select {
  position: relative;
  font-family: Arial;
  margin-left:40px;

}



/* about us page */

/* Style the tab */
.tab {
	/* width:100%; */
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: blue;
  margin-left:-80px;
  margin-right:-200px;

}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 96px;
  transition: 0.3s;
  font-size: 17px;
  color:white;
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color:# ;
 
}

/* Create an active/current tablink class */
.tab button.active {
  background-color:green;
  <!-- width:50px; -->
  <!-- height:50px; -->
   padding: 14px 16px;

   <!-- margin-left:120px;  -->
}

.button tablinks{
font-color:white;
}


	
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  <!-- border: 1px solid #ccc; -->
  border-top: none;
  /* margin-left:30px; */
  /* margin-right:30px; */
   
}
 
#about{
	color:black;
	margin-top:-300px;
	font-family: 'Poppins', sans-serif;
}

h2{
	color:#595554;
	text-align:center;
	/* font-size:20; */
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.about-content p{
	color:black;
	/* column-count:2; */
	/* column-gap:50px; */
	font-size:18px;
	padding:0px 80px;
	 /* margin-left:30px;  */
	
}
/* counters part */
.counters{
	background:#878282;
	
	color:#fff;
	padding:40px 20px;
	/* border-top:3px #5DADE2 solid; */
	margin-top:50px;
	margin-bottom:-350px;
	height:50vh;
	
	
}

.counters .container{
	display:grid;
	grid-gap:0px;
	grid-template-columns:repeat(4,1fr);
	text-align:center;
	
}

.counters i{
	color:#5DADE2;
	margin-bottom:5px;
}

.counters .counter{
	font-size:25px;
	margin:10px 0;
}

@media(max-width:700px){
.counters .container{
grid-template-columns:repeat(2,1fr);
}

.counters .container > div:nth-of-type(1),.counters .container > div:nth-of-type(2){
	border-bottom:1px #5DADE2 solid;
	padding-bottom:20px;
}
}
/* award page  */
h4 {
    margin: 0 0 15px 0;
    color: #2fa3ad;
    font-family:  'source_sans_proregular';
    font-weight: 300;
	font-size:22px;
	margin-left:100px;
	
	
}
.alignright {
    display: inline;
    float: right;
	
}
p{
margin-left:100px;
font-size:16px;
margin-right:100px;

}
p img{
margin-right:100px;
margin-top:0px;
}
/* Contact form */
#title-Tag-Line {
  font-size: 20px;
}


/* form animation starts */
.form {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid #494646;
/*   z-index: 1; */
  animation: bounce 1.5s infinite;
  margin-top:50px;
 
}
::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
  font-size: 2em;
  font-weight: bold;
}
.secondaryTitle{
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: white;
   width: 600px;
}
.name:hover {
  border-bottom: 5px solid #494646;
  height: 50px;
  width: 600px;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  /* height: 2em; */
  width: 600px;
}

.email:hover {
  border-bottom: 5px solid #494646;
  height: 50px;
  width: 600px;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 8rem;
  width: 600px;
}

.message:hover {
  border-bottom: 5px solid #494646;
  height: 10em;
  width: 600px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 200px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: #494646;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  /* border-top: 5px solid #0e3750; */
  background-color:#0e3750;
  border-radius: 0%;
}

/*underline text */
h1{
 text-align:center;
}
h1 span{
  display:inline-block;
  position:relative;
  overflow:hidden;
  margin-top:400px;
}
h1 span:after,
h1 span:before{
  content:"";
  height:5px;
  width:100%;
  position:absolute;
  bottom:0px;
  left:0;
  transition: 3s;
}
h1 span:before{
  background:#ccc;
}
/* We'll animate this one to -75% */
h1 span:after{ 
  background:#000;
  left:100%;
}
h1 span.animateLine:after{
  left: -75%;
}
/*Product page */

.wrapper{
	/* position:relative; */
	width:70%;
	/* height:300px; */
	display:flex;
justify-content:space-around;

}
	
.card{
	width:240px;
	height:340px;
	padding:2rem 0.5rem;
	background:#fff;
	position:relative;
	display:flex;
	align-items:flex-end;
	box-shadow:0px 7px 10px rgba(0,0,0,0.5);
	transition: 0.5s ease-in-out;
	margin-left:100px;
	/* justify-content:space-between; */
	/* display:inline-block; */
}
.card:hover{
	transform:translateY(20px);
	height:400px;
}
.card:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	background:linear-gradient(to bottom,rgba(180,180,180,0.5),rgba(120,120,120,1));
	 background:linear-gradient(to bottom,rgba(#bdc3c7,#2c3e50));
	 
	z-index:2;
	transition:0.5s all;
	opacity:0;
}
.card:hover:before{
	opacity:1;
}
.card img{
	width:100%;
	height:100%;
	object-fit:cover;
	position:absolute;
	top:0;
	left:0;
}
.card .info{
	position:relative;
	z-index:3;
	color:#fff;
	opacity:0;
	transform:translateY(30px);
	transition:0.5s all;
}
.card:hover .info{
	opacity:1;
	transform:translateY(0px);
}
.card .info h1{
	margin:0;
}
.card .info p{
	letter-spacing:1px;
	font-size:15px;
	margin-top:8px;
	margin-bottom:20px;
	margin-left:5px;
	
}
.card .info .btn{
	text-decoration:none;
	padding:0.5rem 1rem;
	background:#fff;
	color:#000;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	transition:0.4s ease-in-out;
}
.card .info .btn:hover{
	box-shadow:0px 7px 10px rgba(0,0,0,0.5);
	background-color:#c0392b;
}

/*  footer section*/
#footer{
	position: fixed;
	bottom: 0;
	
	
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #F7F9F9;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 10px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 800px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color: black;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
	color: black;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
	font-size:14px;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: white;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
	margin-left:70px;
}
.footer-distributed .footer-center i:hover{
	background:#c0392b;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
	vertical-align: middle;
	margin:0;
	font-size:12px;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	/* font-size:14px; */
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	margin-left:20px;
}

.footer-distributed .footer-company-about span{
	display: block;
	color: black;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left:20px;
	margin-right: 3px;
	margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover{
	background:#c0392b;
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


